body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  height: 100vh;
  background: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}

.buttons {
  position: relative;
  width: 100%;
  height: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
 
}

button {
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;

}

.yes {
  background-color: #ff4081;
  color: white;
  margin-right: 20px;
}

.no {
  background-color: #555;
  color: white;
  position: absolute;
}
